/* Inhoud CCS
- Kleurenschema
- body
- bovenste deel (default: helft) v.d. pagina
- styling items op bovenste deel: 
--H1 
--Afbeelding
- onderste deel (default: helft) v.d. pagina
--Tekst op onderste deel 
--Div voor radials
--
*/
 


// het kleurenschema met SCSS variabelen. 
$primary_btn_color: #ED7D31;
$secondary_btn_color: #ED7D31;

$primary_txt_color: #ED7D31;
$secondary_txt_color: white;

$primary_background_color: white;
$secondary_background_color: #E8F1F2;

// instellingen voor de gehele pagina.
body, html{
    width: 100%;
    height: 100%; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    margin: 0px;
    padding: 0px;
    font-size: 0.9em;
    color: $primary_txt_color;
    background-color: rgb(232, 232, 232);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    max-width: 400px;
    margin:auto;
}


// classes voor Single Page Applicatie, met JS worden deze toegevoegd/verwijderd aan/van pagina's. 
.hide{
    display:none;
    }
    
.show{
    display:block;
    }




 /* Bovenste deel ingesteld als grid, met daarin alle items */
.bovenste_deel {
    display: grid;
    justify-content: center;
    height: 50vh;
    background-color: $secondary_background_color;

    .lange_titel {
        margin-top: 5%;
        margin-left: 2%;
        margin-right: 2%;
        text-align:center;
    }

    h1 {
        margin: 20px auto;
    }

    p {
        margin-left: 16.7%;
        margin-right: 16.7%;
        text-align: justify;
    }
}




/* de svg afbeeldingen */
#afbeelding_welkom_scherm {
    margin: 3rem auto;
}




 /* Onderste deel ingesteld als grid, met daarin alle items */
.onderste_deel {
    display: grid;
    justify-content: center;
    height: 50vh;
    grid-template-rows: 2rem 4fr 4rem 2rem;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: $primary_background_color;

    .tekst_onderste_deel {
        grid-area: 2/2/3/3;
        padding: 0;
    }
}


/* Onderste deel versie 2. Ook ingesteld als grid, met daarin alle items in twee kolommen */
.onderste_deel_twee_kolommen_naast_elkaar {
    display: grid;
    justify-content: center;
    height: 50vh;
    grid-template-rows: 2rem 5fr 3fr 4rem 2rem;
    grid-template-columns: 16.7% 3fr 1fr 3fr 16.7%;
    background-color: $primary_background_color;

    .text_onderste_deel_kolommen {
        grid-area: 2/2/3/5;
        padding: 0;
    }

    .afbeelding1_onderste_deel {
        grid-area: 3/2/4/3;
        margin-top: 1.5rem;
    }

    .afbeelding2_onderste_deel {
        grid-area: 3/4/4/5;
    }

    #knop1_onderste_deel {
        grid-area: 4/2/5/3;
    }

    #knop2_onderste_deel {
        grid-area: 4/4/5/5;
    }
}





// RADIO knoppen weergave
.de_radials {
    grid-area: 2/2/3/3;
    border-style: $primary_btn_color;
    justify-self: center;
}

ul {
    list-style-position: inside;
    padding-left: 0;
    line-height: 1.5em;
}

#button {
    grid-area: 3/2/4/3;
    justify-self: center;
    width: 100%;
}

// Styling van de radio knoppen
input[type='radio'] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    border: 2px solid $primary_btn_color;
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    margin: auto;
    margin-top: 3px;
    border-radius: 50%;
}

input[type="radio"]:checked:before {
    background: $primary_btn_color;
}

input[type="radio"]:checked {
  border-color:$primary_btn_color;
}

.checkbox label {
    margin-bottom: 20px !important;
}

.situatie {
    margin-bottom: 40px;
}





//
//6 - CAROUSEL STYLING 
//
// styling voor navigatiebalk(en)

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 3px 3px -3px gray;
    padding-top: 15px;
    margin-bottom: 3px;

        .tekst_vuiltje_aan {
            margin-left: 0px;
        }

        #VadL_logo {
            margin: -5px 20px 5px 20px;
        }

        .tekst_de_lucht {
            margin-right: 10%
        }
}    
    
    .second_bar {
        display: flex;
        justify-content:space-between;
        align-content:center;
        max-width: 400px;
        min-width: 300px;
        background-color: #F8F8F8;
        padding-top: 5px;
        height: 40px;

        .knop1, .knop2 {
            width: 50%;
            text-align: center;
            color: gray;

            h5 {
                padding-top: 2px;
                padding-bottom: 10px;
            }
        }

        .knop_actief {
            font-weight: bolder;
            box-shadow: 0px 2px 2px -2px gray;
        }
    }
    



// bol in CSS met radar-animatie

// .bol {
//  position: absolute;
//  margin-left: 50px;
//  margin-top: 50px;
//  width: 75px;
//  height: 75px;
//  border-radius: 50%;
//  background-color: #F1F9FF;   
// //  border-style: solid;
// //  border-color: #DBEEFE;
// //  border-width: 2px;
// box-shadow: grey 5px;
// }

// .waves {
//     position: relative;
//     top: 50%;
//     background: rgba(255, 255, 255, .3);
//     left: 50%;
//     width: 25px;
//     height: 25px;
//     margin-left: -12px;
//     margin-top: -12px;
//     border-radius: 50%;
//     -webkit-backface-visibility: hidden;
//   }
//   .wave.waves {
//     position: relative;
//     top: 50%;
//     background: rgba(255,255,255,0.3);
//     left: 50%;
//     width: 25px;
//     height: 25px;
//     margin-left: -12px;
//     margin-top: -12px;
//     border-radius: 50%;
//     -webkit-backface-visibility: hidden;
//   }
//   .waves:before {
//     position: absolute;
//     background: white;
//     margin-left: -12px;
//     margin-top: -12px;
//     width: 50px;
//     height: 50px;
//     content: "";
//     display: block;
//     border-radius: 50%;
//     -webkit-backface-visibility: hidden;
//     animation: wave-animate 3s infinite ease-out;
//   }
//   .waves:after {
//     position: absolute;
//     background: white;
//     margin-left: -12px;
//     margin-top: -12px;
//     width: 50px;
//     height: 50px;
//     content: "";
//     display: block;
//     border-radius: 50%;
//     -webkit-backface-visibility: hidden;
//     opacity: 0;
//     animation: wave-animate 3s 1.5s infinite ease-out;
//   }
//   @keyframes wave-animate {
//     0% {
//       transform: scale(0);
//       opacity: 1;
//       transform-origin: center;
//     }
//     100% {
//       transform: scale(1.6);
//       opacity: 0;
//       background-color: red;
//       transform-origin: center;
//     }
//   }
  

// fancy wolk met particles, werkt beste in Chrome
// $total: 1600; // total particles
// $orb-size: 100px;
// $particle-size: 2px;
// $time: 14s; 
// $base-hue: 0; // change for diff colors (180 is nice)


// .wrap {
//   position: relative;
//   top: 20%;
//   left: 20%;
//   width: 0; 
//   height: 0; 
//   transform-style: preserve-3d;
//   perspective: 1000px;
//   animation: rotate $time infinite linear; // rotate orb
// }

// @keyframes rotate {
//   100% {
//     transform: rotateY(360deg) rotateX(360deg);
//   }
// }

// .c {
//   position: absolute;
//   width: $particle-size;
//   height: $particle-size;
//   border-radius: 50%;
//   opacity: 0; 
// }

// @for $i from 1 through $total {
//   $z: (random(360) * 1deg); // random angle to rotateZ
//   $y: (random(360) * 1deg); // random to rotateX
//   $hue: ((40/$total * $i) + $base-hue); // set hue
  
//   .c:nth-child(#{$i}){ // grab the nth particle
//     animation: orbit#{$i} $time infinite;
//     animation-delay: ($i * .01s); 
//     background-color: hsla($hue, 100%, 50%, 1);
//   }

//   @keyframes orbit#{$i}{ 
//     20% {
//       opacity: 1; // fade in
//     }
//     30% {
//       transform: rotateZ(-$z) rotateY($y) translateX($orb-size) rotateZ($z); // form orb
//     }
//     80% {
//       transform: rotateZ(-$z) rotateY($y) translateX($orb-size) rotateZ($z); // hold orb state 30-80
//       opacity: 1; // hold opacity 20-80
//     }
//     100% {
//        transform: rotateZ(-$z) rotateY($y) translateX( ($orb-size * 3) ) rotateZ($z); // translateX * 3
//     }
//   }
// }


// styling voor maatregelen op maatregelscherm (6 in XD)

.carousel_container {
    max-width: 400px;
    min-width: 300px;
    margin: auto;
    background-color: white;

    .maatregel  {
        height: 354px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 2%;
        margin-right: 2%;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 10%;
        border-radius: 10px;
        background-color: #F8F8F8;
        box-shadow: 1px 1px 3px gray;
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;

        .maatregel_titel {
            margin-top: 10px;
            padding-bottom: 5px;
            font-size: 10px;
            text-align: center;
        }

        .maatregel_samenvattingstekst {
            padding-top: 10px;
        }

        .maatregel-info-tekst {
            width: 70%;  
        }
    }

    .carousel-control-next, 
    .carousel-control-prev, 
    .carousel-indicators {
        opacity: 1;
    }

    .carousel-indicators 
    li {
        background-color: $primary_btn_color;
        //opacity: .5;
        transition: opacity .6s ease;
    }

    i {
        color: $primary_btn_color;
    }

}

// effect kaart
    #effect-kaart {
        display: grid;
        grid-template-areas: 
        'gezondheid gezondheid gezondheid'
        'comfort . kostenbesparing'
        ;
        grid-gap: 10%;
        padding-top: 10%;

        #bol-gezondheid {
            grid-area: gezondheid;
            margin:auto;
        }

        #bol-comfort  {
            grid-area: comfort;
            padding-bottom: 15%;
        }

        #bol-kostenbesparing  {
            grid-area: kostenbesparing;
            padding-bottom: 15%;
        }

    }
    