/* Inhoud CCS
- Kleurenschema
- body
- bovenste deel (default: helft) v.d. pagina
- styling items op bovenste deel: 
--H1 
--Afbeelding
- onderste deel (default: helft) v.d. pagina
--Tekst op onderste deel 
--Div voor radials
--
*/
body, html {
  width: 100%;
  height: 100%;
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  margin: 0px;
  padding: 0px;
  font-size: 0.9em;
  color: #ED7D31;
  background-color: #e8e8e8;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  max-width: 400px;
  margin: auto;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* Bovenste deel ingesteld als grid, met daarin alle items */
.bovenste_deel {
  display: grid;
  justify-content: center;
  height: 50vh;
  background-color: #E8F1F2;
}
.bovenste_deel .lange_titel {
  margin-top: 5%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
}
.bovenste_deel h1 {
  margin: 20px auto;
}
.bovenste_deel p {
  margin-left: 16.7%;
  margin-right: 16.7%;
  text-align: justify;
}

/* de svg afbeeldingen */
#afbeelding_welkom_scherm {
  margin: 3rem auto;
}

/* Onderste deel ingesteld als grid, met daarin alle items */
.onderste_deel {
  display: grid;
  justify-content: center;
  height: 50vh;
  grid-template-rows: 2rem 4fr 4rem 2rem;
  grid-template-columns: 1fr 4fr 1fr;
  background-color: white;
}
.onderste_deel .tekst_onderste_deel {
  grid-area: 2/2/3/3;
  padding: 0;
}

/* Onderste deel versie 2. Ook ingesteld als grid, met daarin alle items in twee kolommen */
.onderste_deel_twee_kolommen_naast_elkaar {
  display: grid;
  justify-content: center;
  height: 50vh;
  grid-template-rows: 2rem 5fr 3fr 4rem 2rem;
  grid-template-columns: 16.7% 3fr 1fr 3fr 16.7%;
  background-color: white;
}
.onderste_deel_twee_kolommen_naast_elkaar .text_onderste_deel_kolommen {
  grid-area: 2/2/3/5;
  padding: 0;
}
.onderste_deel_twee_kolommen_naast_elkaar .afbeelding1_onderste_deel {
  grid-area: 3/2/4/3;
  margin-top: 1.5rem;
}
.onderste_deel_twee_kolommen_naast_elkaar .afbeelding2_onderste_deel {
  grid-area: 3/4/4/5;
}
.onderste_deel_twee_kolommen_naast_elkaar #knop1_onderste_deel {
  grid-area: 4/2/5/3;
}
.onderste_deel_twee_kolommen_naast_elkaar #knop2_onderste_deel {
  grid-area: 4/4/5/5;
}

.de_radials {
  grid-area: 2/2/3/3;
  border-style: #ED7D31;
  justify-self: center;
}

ul {
  list-style-position: inside;
  padding-left: 0;
  line-height: 1.5em;
}

#button {
  grid-area: 3/2/4/3;
  justify-self: center;
  width: 100%;
}

input[type=radio] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  outline: none;
  border: 2px solid #ED7D31;
}

input[type=radio]:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  margin: auto;
  margin-top: 3px;
  border-radius: 50%;
}

input[type=radio]:checked:before {
  background: #ED7D31;
}

input[type=radio]:checked {
  border-color: #ED7D31;
}

.checkbox label {
  margin-bottom: 20px !important;
}

.situatie {
  margin-bottom: 40px;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 3px 3px -3px gray;
  padding-top: 15px;
  margin-bottom: 3px;
}
header .tekst_vuiltje_aan {
  margin-left: 0px;
}
header #VadL_logo {
  margin: -5px 20px 5px 20px;
}
header .tekst_de_lucht {
  margin-right: 10%;
}

.second_bar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 400px;
  min-width: 300px;
  background-color: #F8F8F8;
  padding-top: 5px;
  height: 40px;
}
.second_bar .knop1, .second_bar .knop2 {
  width: 50%;
  text-align: center;
  color: gray;
}
.second_bar .knop1 h5, .second_bar .knop2 h5 {
  padding-top: 2px;
  padding-bottom: 10px;
}
.second_bar .knop_actief {
  font-weight: bolder;
  box-shadow: 0px 2px 2px -2px gray;
}

.carousel_container {
  max-width: 400px;
  min-width: 300px;
  margin: auto;
  background-color: white;
}
.carousel_container .maatregel {
  height: 354px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  border-radius: 10px;
  background-color: #F8F8F8;
  box-shadow: 1px 1px 3px gray;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}
.carousel_container .maatregel .maatregel_titel {
  margin-top: 10px;
  padding-bottom: 5px;
  font-size: 10px;
  text-align: center;
}
.carousel_container .maatregel .maatregel_samenvattingstekst {
  padding-top: 10px;
}
.carousel_container .maatregel .maatregel-info-tekst {
  width: 70%;
}
.carousel_container .carousel-control-next,
.carousel_container .carousel-control-prev,
.carousel_container .carousel-indicators {
  opacity: 1;
}
.carousel_container .carousel-indicators li {
  background-color: #ED7D31;
  transition: opacity 0.6s ease;
}
.carousel_container i {
  color: #ED7D31;
}

#effect-kaart {
  display: grid;
  grid-template-areas: "gezondheid gezondheid gezondheid" "comfort . kostenbesparing";
  grid-gap: 10%;
  padding-top: 10%;
}
#effect-kaart #bol-gezondheid {
  grid-area: gezondheid;
  margin: auto;
}
#effect-kaart #bol-comfort {
  grid-area: comfort;
  padding-bottom: 15%;
}
#effect-kaart #bol-kostenbesparing {
  grid-area: kostenbesparing;
  padding-bottom: 15%;
}/*# sourceMappingURL=style.css.map */