$primary_btn_color: #ED7D31;
$primary_txt_color: #ED7D31;


body {
    margin: 0px;
    width: 100%;
    color: $primary_txt_color;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}


 /* Bovenste deel ingesteld als grid, met daarin alle items */
.bovenste_deel {
    display: grid;
    background-color: rgba(232, 241, 242, 75);
    height: 50vh;
    justify-content: center;
}

/* de svg afbeeldingen */
#afbeelding_welkom_scherm {
    margin: auto;
}

 /* Onderste deel ingesteld als grid, met daarin alle items */
.onderste_deel {
    display: grid;
    grid-template-rows: 2fr 2fr 2fr 2fr 1fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    justify-content: center;
    background-color: white;
    height: 50vh;

}

.welkom_text {
    grid-area: 2/2/3/3;
}

#button {
    // hier moet nog wat gebeuren aan het kleurenschema van bootstrap. Lijkt er op dat hiervoor lokale versie van Bootstrap nodig is. Zie: https://getbootstrap.com/docs/5.0/customize/color/Quick fix nu door kleur op primary color te zetten.
    grid-area: 4/2/5/3;
    justify-self: center;
    align-self: center;
    min-width: 20em;
    max-width: 60vw;
    min-height: 4em;
    max-height: 4vh;
    border-radius: 0.5em;
    background-color: $primary_btn_color;
    border-color: $primary_btn_color;
    color: white;
    cursor: pointer;
}
