/* Inhoud CCS
- Kleurenschema
- body
- bovenste deel (default: helft) v.d. pagina
- styling items op bovenste deel: 
--H1 
--Afbeelding
- onderste deel (default: helft) v.d. pagina
--Tekst op onderste deel 
--Div voor radials
--
*/
 


// het kleurenschema met SCSS variabelen. 
$primary_btn_color: #ED7D31;
$secondary_btn_color: #ED7D31;

$primary_txt_color: #ED7D31;
$secondary_txt_color: white;

$primary_background_color: white;
$secondary_background_color: #E8F1F2;

// instellingen voor de gehele pagina.
body, html{
    width: 100%;
    height: 100%; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    margin: 0px;
    padding: 0px;
    font-size: 0.9em;
    color: $primary_txt_color;
    font-family: Arial, Helvetica, sans-serif;
}

 /* Bovenste deel ingesteld als grid, met daarin alle items */
.bovenste_deel {
    display: grid;
    justify-content: center;
    height: 50vh;
    background-color: $secondary_background_color;
}

h1 {
    text-align: center;
}

/* de svg afbeeldingen */
#afbeelding_welkom_scherm {
    margin: 30px auto;
}

 /* Onderste deel ingesteld als grid, met daarin alle items */
.onderste_deel {
    display: grid;
    justify-content: center;
    height: 50vh;
    grid-template-rows: 1% 5% 2fr 2fr 1fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: $primary_background_color;
}

.tekst_onderste_deel {
    grid-area: 3/2/4/3;
    padding: 0;
}

.de_radials {
    grid-area: 3/2/4/3;
    border-style: $primary_btn_color;
    justify-self: center;
}

ul {
    list-style-position: inside;
    padding-left: 0;
    line-height: 1.5em;
}

#button {
    // hier kan nog wat gebeuren aan het kleurenschema van bootstrap. Lijkt er op dat hiervoor lokale versie van Bootstrap nodig is. Zie: https://getbootstrap.com/docs/5.0/customize/color/Quick fix nu door kleur op primary color te zetten.
    grid-area: 5/2/6/3;
    justify-self: center;
    bottom: 4vh;
    min-width: 20em;
    max-width: 60vw;
    min-height: 4em;
    max-height: 4vh;
    border-radius: 0.5em;
    background-color: $primary_btn_color;
    border-color: $primary_btn_color;
    color: $secondary_txt_color;
    font-weight: bold;
    cursor: pointer;
}


// Styling van de radials
input[type='radio'] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    border: 2px solid $primary_btn_color;
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}

input[type="radio"]:checked:before {
    background: $primary_btn_color;
}

input[type="radio"]:checked {
  border-color:$primary_btn_color;
}

.checkbox label {
    margin-bottom: 20px !important;
}

.situatie {
    margin-bottom: 40px;
}